.u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 656px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  background-image: none;
  height: 81px;
  width: 81px;
  margin: 353px 20px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 656px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 25px 30px 0;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 655px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -302px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -214px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -276px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 353px;
  }
}.u-section-2 {
  min-height: 66px;
}

.u-section-2 .u-sheet-1 {
  min-height: 486px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 30px;
  margin-bottom: 0;
  width: 1140px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 456px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 52px 3px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 456px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 680px;
  left: auto;
  right: -5px;
  margin: auto;
}

.u-section-2 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -20px 15px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 376px;
  }

  .u-section-2 .u-image-1 {
    width: 454px;
    margin: initial;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 447px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 288px;
  }

  .u-section-2 .u-image-1 {
    width: 348px;
    margin: initial;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 473px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 105px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 231px;
  }

  .u-section-2 .u-image-1 {
    height: 227px;
    margin-top: -30px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -220px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 798px;
}

.u-section-3 .u-gallery-1 {
  height: 688px;
  margin: 50px auto 60px 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-1 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-4 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-5 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-back-slide-6 {
  background-position: 50% 95.06%;
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 95.06%;
}

.u-section-3 .u-over-slide-6 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-7 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-7 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-8 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-8 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-9 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-9 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-10 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-10 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-11 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-11 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-12 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-12 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-13 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-13 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-13 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-14 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-14 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-14 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-15 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-15 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-15 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-16 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-16 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-16 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-17 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-17 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-17 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-18 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-18 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-18 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-19 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-19 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-19 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-20 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-20 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-20 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-21 {
  margin-right: 17px;
}

.u-section-3 .u-back-slide-21 {
  background-position: 50% 78.05%;
}

.u-section-3 .u-back-image-21 {
  object-position: 50% 41.42%;
}

.u-section-3 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 17px 17px;
  }

  .u-section-3 .u-carousel-item-4 {
    margin-right: 17px;
  }

  .u-section-3 .u-carousel-item-5 {
    margin-right: 17px;
  }

  .u-section-3 .u-carousel-item-6 {
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  min-height: 66px;
}

.u-section-4 .u-sheet-1 {
  min-height: 765px;
}

.u-section-4 .u-text-1 {
  margin: 32px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 644px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 643px;
  margin: auto;
}

.u-section-4 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  margin: -632px 19px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 644px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 318px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-4 .u-image-1 {
    height: 322px;
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -51px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 531px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-4 .u-image-1 {
    height: 311px;
    margin-top: 7px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -311px;
    margin-right: 0;
  }
}.u-section-5 {
  min-height: 66px;
}

.u-section-5 .u-sheet-1 {
  min-height: 716px;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 28px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 688px;
  pointer-events: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 52px 3px 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 688px;
  pointer-events: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 378px;
  height: 686px;
  margin: auto;
}

.u-section-5 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -658px 39px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 635px;
  }

  .u-section-5 .u-image-1 {
    height: 687px;
    margin-top: -52px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -659px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 654px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -626px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 651px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-5 .u-image-1 {
    height: 618px;
    width: 340px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -3px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -606px;
    margin-right: 19px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 798px;
}

.u-section-6 .u-gallery-1 {
  height: 688px;
  margin: 50px auto 60px 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 17px;
}

.u-section-6 .u-back-slide-1 {
  background-position: 50% 78.05%;
}

.u-section-6 .u-back-image-1 {
  object-position: 50% 41.42%;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 17px;
}

.u-section-6 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 17px;
}

.u-section-6 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-4 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-6 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-4 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-5 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-6 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-5 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-6 .u-back-slide-6 {
  background-position: 50% 95.06%;
}

.u-section-6 .u-back-image-6 {
  object-position: 50% 95.06%;
}

.u-section-6 .u-over-slide-6 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-item-7 {
  margin-right: 17px;
}

.u-section-6 .u-back-slide-7 {
  background-position: 50% 78.05%;
}

.u-section-6 .u-back-image-7 {
  object-position: 50% 41.42%;
}

.u-section-6 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 17px 17px;
  }

  .u-section-6 .u-carousel-item-4 {
    margin-right: 17px;
  }

  .u-section-6 .u-carousel-item-5 {
    margin-right: 17px;
  }

  .u-section-6 .u-carousel-item-6 {
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-1 {
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-7 {
  min-height: 66px;
}

.u-section-7 .u-sheet-1 {
  min-height: 765px;
}

.u-section-7 .u-text-1 {
  margin: 32px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  pointer-events: auto;
  min-height: 644px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-7 .u-image-1 {
  width: 516px;
  margin: auto;
}

.u-section-7 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  margin: -18px 32px 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 644px;
  pointer-events: auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 318px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-7 .u-image-1 {
    margin: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 531px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 66px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 312px;
  }
}.u-section-8 {
  min-height: 66px;
}

.u-section-8 .u-sheet-1 {
  min-height: 716px;
}

.u-section-8 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 688px;
  pointer-events: auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  margin: 52px 3px 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 688px;
  pointer-events: auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 527px;
  left: auto;
  right: 3px;
  margin: auto;
}

.u-section-8 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 28px 22px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 318px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-8 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 567px;
  }

  .u-section-8 .u-image-1 {
    margin: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 66px;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 814px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-8 .u-image-1 {
    width: 330px;
    height: 431px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 7px auto 0;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -410px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 807px;
}

.u-section-9 .u-gallery-1 {
  height: 688px;
  margin: 50px auto 60px 0;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-9 .u-carousel-item-1 {
  margin-right: 17px;
}

.u-section-9 .u-back-slide-1 {
  background-position: 50% 78.05%;
}

.u-section-9 .u-back-image-1 {
  object-position: 50% 41.42%;
}

.u-section-9 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-2 {
  margin-right: 17px;
}

.u-section-9 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-9 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-9 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-3 {
  margin-right: 17px;
}

.u-section-9 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-9 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-9 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-4 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-9 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-9 .u-over-slide-4 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-5 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-9 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-9 .u-over-slide-5 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-back-slide-6 {
  background-position: 50% 95.06%;
}

.u-section-9 .u-back-image-6 {
  object-position: 50% 95.06%;
}

.u-section-9 .u-over-slide-6 {
  transition-duration: 0.5s;
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-7 {
  margin-right: 17px;
}

.u-section-9 .u-back-slide-7 {
  background-position: 50% 78.05%;
}

.u-section-9 .u-back-image-7 {
  object-position: 50% 41.42%;
}

.u-section-9 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-8 {
  margin-right: 17px;
}

.u-section-9 .u-back-slide-8 {
  background-position: 50% 78.05%;
}

.u-section-9 .u-back-image-8 {
  object-position: 50% 41.42%;
}

.u-section-9 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-9 {
  margin-right: 17px;
}

.u-section-9 .u-back-slide-9 {
  background-position: 50% 78.05%;
}

.u-section-9 .u-back-image-9 {
  object-position: 50% 41.42%;
}

.u-section-9 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-10 {
  margin-right: 17px;
}

.u-section-9 .u-back-slide-10 {
  background-position: 50% 78.05%;
}

.u-section-9 .u-back-image-10 {
  object-position: 50% 41.42%;
}

.u-section-9 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-item-11 {
  margin-right: 17px;
}

.u-section-9 .u-back-slide-11 {
  background-position: 50% 78.05%;
}

.u-section-9 .u-back-image-11 {
  object-position: 50% 41.42%;
}

.u-section-9 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-9 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 17px 17px;
  }

  .u-section-9 .u-carousel-item-4 {
    margin-right: 17px;
  }

  .u-section-9 .u-carousel-item-5 {
    margin-right: 17px;
  }

  .u-section-9 .u-carousel-item-6 {
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-gallery-1 {
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-gallery-1 {
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-9 .u-gallery-1 {
    margin-top: 51px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-10 {
  min-height: 66px;
}

.u-section-10 .u-sheet-1 {
  min-height: 766px;
}

.u-section-10 .u-text-1 {
  margin: 36px auto 0;
}

.u-section-10 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 35px;
  margin-bottom: 30px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 626px;
  pointer-events: auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-10 .u-image-1 {
  width: 497px;
  height: 625px;
  margin: 1px -23px 0;
}

.u-section-10 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  margin: -607px auto 0 -10px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 626px;
  pointer-events: auto;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-10 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-3 {
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 {
    min-height: 318px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 145px;
    margin-bottom: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-10 .u-image-1 {
    width: 350px;
    height: 441px;
    margin-top: -30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-icon-1 {
    margin-top: -423px;
  }

  .u-section-10 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 66px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 266px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-1 {
    width: 300px;
    height: 378px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: -360px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: -37px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 196px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: -358px;
    margin-right: -22px;
    margin-left: auto;
  }
}.u-section-11 {
  min-height: 66px;
}

.u-section-11 .u-sheet-1 {
  min-height: 766px;
}

.u-section-11 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: -2px;
  margin-bottom: 60px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 639px;
  pointer-events: auto;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0 auto;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 639px;
  pointer-events: auto;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 60px 0;
}

.u-section-11 .u-image-1 {
  width: 510px;
  height: 638px;
  margin: -30px -30px 0;
}

.u-section-11 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -617px -14px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-11 {
    min-height: 318px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 17px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-11 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 527px;
  }

  .u-section-11 .u-image-1 {
    width: 350px;
    height: 438px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -12px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: -418px;
  }
}

@media (max-width: 991px) {
  .u-section-11 {
    min-height: 66px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-1 {
    width: 300px;
    height: 375px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: -355px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 606px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-11 .u-image-1 {
    margin: -27px auto 0;
  }

  .u-section-11 .u-icon-1 {
    margin-top: -375px;
    margin-right: 10px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1326px;
}

.u-section-12 .u-text-1 {
  margin: 44px auto 0;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-image-1 {
  width: 404px;
}

.u-section-12 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  margin: -17px auto 0 59px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-image-2 {
  width: 430px;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 539px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-image-3 {
  left: auto;
  right: 0;
}

.u-section-12 .u-layout-cell-4 {
  min-height: 539px;
}

.u-section-12 .u-container-layout-4 {
  padding: 30px;
}

.u-section-12 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-text-3 {
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 0;
    position: relative;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-12 .u-image-1 {
    left: auto;
    right: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 444px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 182px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 340px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1369px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 997px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 510px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 2589px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 730px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 321px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 423px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -17px auto 0 59px;
}

.u-section-13 .u-image-1 {
  width: 538px;
}

.u-section-13 .u-icon-2 {
  height: 81px;
  width: 81px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -81px auto 0 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-image-2 {
  width: 575px;
  height: 431px;
  margin: 0 -32px;
}

.u-section-13 .u-layout-cell-3 {
  min-height: 716px;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-image-3 {
  width: 526px;
}

.u-section-13 .u-layout-cell-4 {
  min-height: 716px;
}

.u-section-13 .u-container-layout-4 {
  padding: 30px;
}

.u-section-13 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-text-2 {
  margin: 20px 0 0 288px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 0;
    position: relative;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-13 .u-image-2 {
    width: 410px;
    height: 308px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 590px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 590px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: -101px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-13 .u-image-2 {
    width: 300px;
    height: 225px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 452px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1720px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: -916px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 678px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1985px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 41px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 875px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 0;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px;
}

.u-section-14 .u-image-1 {
  width: 560px;
  height: 292px;
  margin: 93px -25px 0;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px;
}

.u-section-14 .u-image-2 {
  width: 565px;
  height: 424px;
  margin: 27px -27px 0;
}

.u-section-14 .u-layout-cell-3 {
  min-height: 716px;
}

.u-section-14 .u-container-layout-3 {
  padding: 30px;
}

.u-section-14 .u-image-3 {
  width: 513px;
  height: 686px;
  margin: -7px -2px;
}

.u-section-14 .u-layout-cell-4 {
  min-height: 716px;
}

.u-section-14 .u-container-layout-4 {
  padding: 30px;
}

.u-section-14 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-text-2 {
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 0;
    position: relative;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-14 .u-image-1 {
    width: 410px;
    height: 214px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-14 .u-image-2 {
    width: 410px;
    height: 307px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 590px;
  }

  .u-section-14 .u-image-3 {
    width: 410px;
    height: 548px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-layout-cell-4 {
    min-height: 590px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-top: -101px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-14 .u-image-1 {
    width: 300px;
    height: 157px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-14 .u-image-2 {
    width: 300px;
    height: 225px;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 452px;
  }

  .u-section-14 .u-image-3 {
    width: 300px;
    height: 401px;
  }

  .u-section-14 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1720px;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-top: -916px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 678px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-14 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-14 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 446px;
  }

  .u-section-14 .u-image-3 {
    margin: -4px auto;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 500px;
}